@import url("https://fonts.googleapis.com/css?family=Bungee+Shade");
body {
	background-color: #000;
	overflow-x: hidden;
	top: 0;
	left: 0;
	scroll-behavior: smooth;
	margin: 0;
	font-size: 100%;
	font-family: 'Poppins', sans-serif;
}

/*Navbar*/
.topnav {
	height: 83px;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.85);
	width: 100%;
	z-index: 1000;
	overflow: hidden;
	transition: 0.5s ease-in-out;
	font-family: 'Poppins', sans-serif;
	box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}

.nav-logo {
	left: 8%;
}

.nav-logo a:focus
{
	outline: none;
	border: none;
}

.nav-logo-img {
	height: 50px;
	margin-top: 17px;
	width: auto;
	transition: 0.5s ease-in-out;
}

.toggle-bars {
	width: 25px;
	right: 8%;
	margin-top: 22px;
	display: none;
}

.bar {
	height: 2px;
	margin: 5px 0;
	width: 100%;
	background: #fff;
	transition: 0.7s;
}

.navbar-ul {
	text-decoration: none;
	list-style: none;
	float: right;
	margin-right: 8%;
	font-size: 18px;
	margin-top: 29px;
	transition: 0.5s ease-in-out;
}

.navbar-link {
	display: inline-block;
	padding: 2px 12px;
	color: #fff;
	text-decoration: none;
	position: relative;
}

.navbar-list
{
	position: relative;
}

.navbar-link-text
{
	position: relative;
}

#reg-link
{
	background: #fdca76;
	color: #0D2C54;
	margin-left: 6px;
	padding: 2px 20px;
}

.navbar-link:hover, .navbar-link:focus {
	color: #fff;
	text-decoration: none;
}

.navbar-list .navbar-link-text:after
{
	content: '';
	position: absolute;
	height: 2px;
	width: 70%;
	background: #fdca76;
	left: 15%;
	bottom: -4px;
	transform-origin: right;
	transform: scaleX(0);
	transition: transform 0.5s;
}

.navbar-list.active .navbar-link-text:after
{
	content: '';
	position: absolute;
	height: 2px;
	width: 70%;
	background: #fdca76;
	left: 15%;
	bottom: -4px;
	transform-origin: right;
	transform: scaleX(1);
	transition: 0.5s;
}

.navbar-link:hover .navbar-list .navbar-link-text:after
{
	content: '';
	position: absolute;
	height: 2px;
	width: 70%;
	background: #fdca76;
	left: 15%;
	bottom: -4px;
	transform-origin: left;
	transform: scaleX(1);
}

#reg-link:hover .navbar-list .navbar-link-text:after
{
	content: '';
	position: absolute;
	height: 2px;
	width: 70%;
	background: #fdca76;
	left: 15%;
	bottom: -4px;
	transform-origin: right;
	transform: scaleX(0);
	transition: transform 0.5s;
}

@media (max-width: 850px)
{
	.topnav {
		height: auto;
		max-height: 60px;
		transition: 1s ease-in;
	}
	
	.nav-logo-img {
		margin-top: 10px;
		height: 40px;
	}
	
	.toggle-bars {
		margin-top: 17px;
		display: block;
		cursor: pointer;
	}
	
	.navbar-ul {
		width: 100%;
		margin: 60px 0 0;
		padding: 0;
		text-align: center;
	}
	
	.navbar-link {
		display: block;
		margin: 5px 0;
	}
	
	#reg-link
	{
		margin: 6px 0 10px;
		margin-left: 0;
		color: #fff;
		background: #0D2C54;
	}
	
	.navbar-list
	{
		padding: 5px;
	}
	
	#reg-list
	{
		background: #fdca76;
		color: #0D2C54;
	}
}


#notnav
{
	background: rgba(0,0,0,0.7);
	z-index: 999;
	display: none;
}


/*#sub-heading{
	font-size: 2.5vw;
}*/

/*#main-banner {
	background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../images/background.png)no-repeat ;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-size: 100% auto;
	position: relative;
	min-height: 50vw;
}*/

.bg0
{
	background: url(../images/background0.png);
	background-size: cover;
	height: 83px;
}

@media (max-width: 850px)
{
	.bg0
	{
		height: 60px;
	}
}

#main-banner {
	position: relative;
}
#main-banner img {
	display: block;
}
#main-banner .bg{
	width: 100%;
	height: 85vh;
}
#main-banner .robot{
	position: absolute;
	bottom: 0;
	left: 37%;
	width: 26%;
	height: auto;
}
#main-banner .teho{
	height: auto;
	position: absolute;
	width: 61%;
	top: 50%;
	left: 21%;
}
#main-banner .space1{
	position: absolute;
	top: 3%;
	left: 16%;
	width: 22%;
	height: 16%;
}
#main-banner .space3{
	position: absolute;
	top: 30%;
	left: 2%;
	height: 8%;
	width: 11%;
}
#main-banner .space4{
	position: absolute;
	top: 5%;
	right: 23%;
	height: 10%;
	width: 15%;
}
#main-banner .space5{
	position: absolute;
	top: 19%;
	right: 0%;
	height: 8%;
	width: 11%;
}


/*#heading {
	
	text-align: center;
	color: #fff;
	font-size:5.5vw;
	letter-spacing: 8px;
	font-family: 'Poppins', sans-serif;
	font-weight: 1000;
	
	
	
	
	margin: 0;
	line-height: 0;
	
	
	animation: glitch1 2.5s infinite;
}

#heading:nth-child(2) {
	color: #67f3da;
	animation: glitch2 2.5s infinite;
}

#heading:nth-child(3) {
	color: #f16f6f;
	animation: glitch3 2.5s infinite;
}*/

/*@keyframes glitch1 {
	0% {
		transform: none;
		opacity: 1;
	}
	7% {
		transform: skew(-0.5deg, -0.9deg);
		opacity: 0.75;
	}
	10% {
		transform: none;
		opacity: 1;
	}
	27% {
		transform: none;
		opacity: 1;
	}
	30% {
		transform: skew(0.8deg, -0.1deg);
		opacity: 0.75;
	}
	35% {
		transform: none;
		opacity: 1;
	}
	52% {
		transform: none;
		opacity: 1;
	}
	55% {
		transform: skew(-1deg, 0.2deg);
		opacity: 0.75;
	}
	50% {
		transform: none;
		opacity: 1;
	}
	72% {
		transform: none;
		opacity: 1;
	}
	75% {
		transform: skew(0.4deg, 1deg);
		opacity: 0.75;
	}
	80% {
		transform: none;
		opacity: 1;
	}
	100% {
		transform: none;
		opacity: 1;
	}
}

@keyframes glitch2 {
	0% {
		transform: none;
		opacity: 0.25;
	}
	7% {
		transform: translate(-0.03125em, -0.046875em);
		opacity: 0.5;
	}
	10% { 
		transform: none;
		opacity: 0.25;
	}
	27% {
		transform: none;
		opacity: 0.25;
	}
	30% {
		transform: translate(-0.078125em, -0.015625em);
		opacity: 0.5;
	}
	35% {
		transform: none;
		opacity: 0.25;
	}
	52% {
		transform: none;
		opacity: 0.25;
	}
	55% {
		transform: translate(-0.078125em, -0.015625em);
		opacity: 0.5;
	}
	50% {
		transform: none;
		opacity: 0.25;
	}
	72% {
		transform: none;
		opacity: 0.25;
	}
	75% {
		transform: translate(-0.015625em, -0.09375em);
		opacity: 0.5;
	}
	80% {
		transform: none;
		opacity: 0.25;
	}
	100% {
		transform: none;
		opacity: 0.25;
	}
}


@keyframes glitch3 {
	0% {
		transform: none;
		opacity: 0.25;
	}
	7% {
		transform: translate(0.03125em, 0.046875em);
		opacity: 0.5;
	}
	10% {
		transform: none;
		opacity: 0.25;
	}
	27% {
		transform: none;
		opacity: 0.25;
	}
	30% {
		transform: translate(0.078125em, 0.03125em);
		opacity: 0.5;
	}
	35% {
		transform: none;
		opacity: 0.25;
	}
	52% {
		transform: none;
		opacity: 0.25;
	}
	55% {
		transform: translate(0.078125em, 0.015625em);
		opacity: 0.5;
	}
	50% {
		transform: none;
		opacity: 0.25;
	}
	72% {
		transform: none;
		opacity: 0.25;
	}
	75% {
		transform: translate(0.03125em, 0.09375em);
		opacity: 0.5;
	}
	80% {
		transform: none;
		opacity: 0.25;
	}
	100% {
		transform: none;
		opacity: 0.25;
	}
}

@font-face {
	font-family: 'Nintendoid1';
	font-style: normal;
	font-weight: 400;
	
}
#sub-heading { 
	margin-top: 8vw;
	padding: 1em;
	font-family: Nintendoid1;
	color: #eee;
	font-size: 1.5vw;
	line-height: 1;
	text-shadow: 0.06rem 0 0.06rem #ea36af, -0.125rem 0 0.06rem #75fa69;
	letter-spacing: 0.125em;
	animation-duration: 0.08s;
	animation-name: textflicker;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes textflicker {
	from {
		text-shadow: 0.04em 0 0 #ea36af, -0.07em 0 0 #75fa69;
	}
	to {
		text-shadow: 0.07em 0.04em 0.2em #ea36af, -0.04em -0.04em 0.2em #75fa69;
	}
}*/

/*main banner*/

@media (max-width:940px){
	#main-banner .bg {
		width: 100%;
	}

	#main-banner .robot{
		position: absolute;
		bottom: 0;
		left: 32%;
		width: 36%;
		height: auto;
	}
	#main-banner .teho{
		height: auto;
		position: absolute;
		width: 70%;
		top: 50%;
		left: 15%;
	}
}

@media (max-width:660px){
	#main-banner .bg {
		width: 100%;
	}

	#main-banner .robot{
		position: absolute;
		bottom: 0;
		left: 27%;
		width: 46%;
		height: auto;
	}
	#main-banner .teho{
		height: auto;
		position: absolute;
		width: 80%;
		top: 50%;
		left: 10%;
	}
}

@media (max-width:576px){
	#main-banner .bg {
		width: 100%;
		height: 45vh;
	}

	#main-banner .robot{
		position: absolute;
		bottom: 0;
		left: 25%;
		width: auto;
		height: 90%;
	}
	#main-banner .teho{
		height: auto;
		position: absolute;
		width: 90%;
		top: 50%;
		left: 5%;
	}
}

@media screen and (max-width: 1920px) {
	
	#heading2{
		font-size: 3rem;
	}
}

@media screen and (max-width: 1024px) {
	#heading2{
		font-size: 2.5rem;
	}
	
}

@media screen and (max-width: 950px) {
	#heading2{
		font-size: 2rem;
	}
}


@media screen and (max-width: 650px) {
	
	#heading2{
		font-size: 1.7rem;
	}
}

@media screen and (max-width: 480px) {
	
	#heading2{
		font-size: 1.2rem;
	}
}




:root {
	--f-size: 15;
	--f-unit: 1vmin;
	--f: calc(var(--f-size) * var(--f-unit));
	--bg: #181717;
}

*, *::after, *::before {
	box-sizing: border-box;
}

#heading2{
	font-family: 'Bungee Shade', cursive;
	background-color: black;
	display: flex;
	min-height: 15vh;
	margin: 0;
	overflow: hidden;
}


#text ,#text1{
	flex: 1;
	line-height: .75;
	margin: auto;
	color: #1af0dc;
	text-align: center;
	transform: scaleX(var(--scale, 1));
	animation: glitch-p 12s infinite alternate;
}
#text::before, #text::after , #text1::before, #text1::after {
	--top: 0;
	--left: 0;
	--v-height: 30%;
	--n-tenth: calc(var(--f-size) * .1 * var(--top));
	--t-cut: calc(var(--n-tenth) / var(--f-size) * 100%);
	--b-cut: calc(var(--t-cut) + var(--v-height));
	content: attr(data-text);
	position: absolute;
	width: 100%;
	left: 0;
	text-align: center;
	transform: translateX(calc(var(--left) * 100%));
	filter: drop-shadow(0 0 transparent);
	text-shadow: calc(var(--left) * -3em) 0 0.02em lime, calc(var(--left) * -6em) 0 0.02em #ff00e1;
	background-color: black;
	clip-path: polygon(0% var(--t-cut), 100% var(--t-cut), 100% var(--b-cut), 0% var(--b-cut));
}
#text::before {
	animation: glitch-b 2.7s infinite alternate-reverse;
}
#text::after {
	animation: glitch-a 4.1s infinite alternate;
}

#text1::before {
	animation: glitch-b 4.1s infinite alternate-reverse;
}
#text1::after {
	animation: glitch-a 2.7s infinite alternate;
}

@keyframes glitch-p {
	17% {
		--scale: .87;
	}
	31% {
		--scale: 1;
	}
	37% {
		--scale: 1.1;
	}
	47% {
		--scale: .91;
	}
	87% {
		--scale: 1;
	}
}
@keyframes glitch-a {
	10%,30%,50%,70%,90% {
		--top: 0;
		--left: 0;
	}
	0% {
		--v-height: 15%;
	}
	20% {
		--left: .005;
	}
	40% {
		--left: .01;
		--v-height: 20%;
		--top: 3;
	}
	60% {
		--left: .03;
		--v-height: 25%;
		--top: 6;
	}
	80% {
		--left: .07;
		--v-height: 5%;
		--top: 8;
	}
	100% {
		--left: .083;
		--v-height: 30%;
		--top: 1;
	}
}
@keyframes glitch-b {
	10%,30%,50%,70%,90% {
		--top: 0;
		--left: 0;
	}
	0% {
		--v-height: 15%;
		--top: 10;
	}
	20% {
		--left: -.005;
	}
	40% {
		--left: -.01;
		--v-height: 17%;
		--top: 3;
	}
	60% {
		--left: -.03;
		--v-height: 35%;
		--top: 6;
	}
	80% {
		--left: -.07;
		--v-height: 5%;
		--top: 8;
	}
	100% {
		--left: -.083;
		--v-height: 30%;
		--top: 1;
	}
}



.overlay{
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 40px;
	height: 40px;
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
	cursor: pointer;
	border-radius: 50%;
	transition: 0.5s;
}

.overlay:hover{
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	box-shadow: none;
	opacity: 0.9;
	border-radius: 0;
}

.overlay{
	background: linear-gradient(45deg,#000000,#1af0dc);
}

.overlay:before{
	content: 'Read';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;
	font-size: 10px;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 1px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition-delay: 0.5s;
}

.overlay:hover:before{
	display: none;
	transition-delay: 0s;
}

.content{
	padding: 20px;
	box-sizing: border-box;
	z-index: 1;
	pointer-events: none;
	opacity: 0;
	visibility: hidden;
	transition: 0s;
	color: #fff;
}

.overlay:hover ~ .content{
	opacity: 1;
	visibility: visible;
	transition: 0.2s;
	transition-delay: 0.5s;
}

.content h2{
	margin: 0;
	padding: 0;
}

.row{
	padding: 12px 12 px;
}

.cards{
	position: relative !important;
	width: 150px;
	height: 300px;
	background: #000;
	display: flex !important;
	justify-content: center;
	align-items: center;
	width: 100% !important;
}

.cards:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	z-index: 20;
	pointer-events: none;
}
h3.tittle {
	font-size: 55px;
}
.imgBx{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	
}

.imgBx h4{
	margin: 10px 0 0 0;
	padding: 0;
	color: #fff;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	
}
.logo-fot {
	height: 140px;
	width: 175px;
}

/* Cards */



.techo-color {
	color: #FFFFFF;
	font-family: 'Orbitron', sans-serif;
	
}

.techo-card {
	background-color: #000000;
}

.techo-text {
	color: #FFFF;
}


.techo-sec {
	margin-left: 0px;
}

.main-timeline{
	font-family: 'Roboto', sans-serif;
	position: relative;
}
.main-timeline:after{
	content: '';
	display: block;
	clear: both;
}
.main-timeline .timeline{
	width: 50%;
	margin: 0 10px 30px 0;
	float: left;
}
.main-timeline .timeline-content{
	color: #FFFF;
	background: linear-gradient(to right,#d62053,#1af0dc);
	text-align: center;
	padding: 75px 30px 30px;
	display: block;
	position: relative;
	z-index: 1;
}
.main-timeline .timeline-content:hover{ text-decoration: none; }
.main-timeline .timeline-content:before{
	content: '';
	background: #000;
	border-radius: 40px 0 60px 0;
	position: absolute;
	left: 10px;
	top: 10px;
	bottom: 10px;
	right: 10px;
	z-index: -1;
}
.main-timeline .timeline-icon{
	color: #fff;
	background: linear-gradient(125deg, #d62053 50%, #AF2850 51%);
	font-size: 25px;
	line-height: 50px;
	height: 60px;
	width: 60px;
	position: absolute;
	top: 10px;
	left: 30px;
	z-index: 1;
	clip-path: polygon(100% 0, 100% 100%, 50% 80%, 0 100%, 0 0);
}
.main-timeline .title{
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0 0 7px;
}
.main-timeline .description{
	font-size: 14px;
	letter-spacing: 1px;
	margin: 0;
}
.main-timeline .timeline:nth-child(even){
	float: right;
	margin: 0 0 30px 10px;
}
.main-timeline .timeline:nth-child(even) .timeline-content:before{ border-radius: 0 40px 0 60px; }
.main-timeline .timeline:nth-child(even) .timeline-icon{
	left: auto;
	right: 30px;
}
.main-timeline .timeline:nth-child(4n+2) .timeline-content{
	background: linear-gradient(to right,#1af0dc,#fc7114);
}
.main-timeline .timeline:nth-child(4n+2) .timeline-icon{
	background: linear-gradient(125deg, #fc8d44 39%,#fc7114  40%);
}
.main-timeline .timeline:nth-child(4n+3) .timeline-content{
	background: linear-gradient(to right,#1071b2,#1af0dc);
}
.main-timeline .timeline:nth-child(4n+3) .timeline-icon{
	background: linear-gradient(125deg, #1071b2 39%, #0A5C96 40%);
}
.main-timeline .timeline:nth-child(4n+4) .timeline-content{
	background: linear-gradient(to right, #1af0dc,#3DA6DC);
}
.main-timeline .timeline:nth-child(4n+4) .timeline-icon{
	background: linear-gradient(125deg, #3fb1ea 39%, #3DA6DC 40%);
}
@media screen and (max-width:767px){
	.main-timeline .timeline,
	.main-timeline .timeline:nth-child(even){
		width: 100%;
		float: none;
		margin: 0 0 30px;
	}
}
@media screen and (max-width:567px){
	.main-timeline .title{ font-size: 18px; }
}
.faq-section p{
	display: none;
}   

/*Hide the checkboxes */
.faq-section input{
	position: absolute; 
	z-index: 2;
	cursor: pointer;
	opacity: 0;         
	display: none\9; /* IE8 and below */
	margin: 0;          
	width: 100%;
	height: 72px;
}

/*Show only the clipped intro */
.faq-section label+p{
	display: block; 
	color: rgb(153, 153, 153);
	font-size: .85em;
	transition: all .15s ease-out;
	/* Clipping text */
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;                       
}

/*If the checkbox is checked, show all paragraphs*/
.faq-section input[type=checkbox]:checked~p{
	display: block;
	color: rgb(68, 68, 68);
	font-size: 1em;
	/* restore clipping defaults */
	text-overflow: clip; 
	white-space: normal;
	overflow: visible;  
}

/*Style the label*/
.faq-section label{
	font-size: 1.2em;
	background: #000;
	display: block;
	position: relative;
	
	padding: 0px 10px;
	font-weight: bold;
	border: 1px solid #ddd;
	border-left: 3px solid #888;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	transition: all .15s ease-out;          
}

.col-md-8 label{
	height: 60px !important;
}

/*Remove text selection when toggle-ing*/
.faq-section label::selection{
	background: none;
}

.faq-section label:hover{
	background: #000 !important;
}

/*If the checkbox is checked, style the label accordingly*/
.faq-section input[type=checkbox]:checked~label{
	border-color: #0099ff;          
	background: #51A5F6;
	background-image: linear-gradient(to bottom, #000, #595959);
	box-shadow: 0 0 0.5px rgba(0,0,0,.2);             
}

/*Label's arrow - default state */
.faq-section label::before{
	content: '';
	position: absolute;
	right: 4px;
	top: 50%;
	margin-top: -6px;
	border: 6px solid transparent;
	border-left-color: inherit; 
}

/*Update the right arrow*/
.faq-section input[type=checkbox]:checked~label::before{
	border: 6px solid transparent;
	border-top-color: inherit;
	margin-top: -3px;
	right: 10px;    
}






/*Add some spacing*/
.faq-sectio{
	margin: 40px 0;
	position: relative;
}

/*Hide the paragraphs*/
.faq-sectio p{
	display: none;
}   

/*Hide the checkboxes */
.faq-sectio input{
	position: absolute; 
	z-index: 2;
	cursor: pointer;
	opacity: 0;         
	display: none\9; /* IE8 and below */
	margin: 0;          
	width: 100%;
	height: 36px;
}

/*Show only the clipped intro */
.faq-sectio label+p{
	display: block; 
	color: #999;
	font-size: .85em;
	transition: all .15s ease-out;
	/* Clipping text */
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;                       
}

/*If the checkbox is checked, show all paragraphs*/
.faq-sectio input[type=checkbox]:checked~p{
	display: block;
	color: #444;
	font-size: 1em;
	/* restore clipping defaults */
	text-overflow: clip; 
	white-space: normal;
	overflow: visible;  
}

/*Style the label*/
.faq-sectio label{
	font-size: 1.2em;
	background: #eee;
	display: block;
	position: relative;
	height: 33px;
	padding: 0px 10px;
	font-weight: bold;
	border: 1px solid #ddd;
	border-left: 3px solid #888;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	transition: all .15s ease-out;          
}

.col-md-8 label{
	height: 60px !important;
}

/*Remove text selection when toggle-ing*/
.faq-sectio label::selection{
	background: none;
}

.faq-sectio label:hover{
	background: #f5f5f5;
}

/*If the checkbox is checked, style the label accordingly*/
.faq-sectio input[type=checkbox]:checked~label{
	border-color: #ff7f50;          
	background: #f5deb4;
	background-image: linear-gradient(to bottom, #fff, #f5deb4);
	box-shadow: 0 0 1px rgba(0,0,0,.4);             
}

/*Label's arrow - default state */
.faq-sectio label::before{
	content: '';
	position: absolute;
	right: 4px;
	top: 50%;
	margin-top: -6px;
	border: 6px solid transparent;
	border-left-color: inherit; 
}

/*Update the right arrow*/
.faq-sectio input[type=checkbox]:checked~label::before{
	border: 6px solid transparent;
	border-top-color: inherit;
	margin-top: -3px;
	right: 10px;    
}

.techo-faq  {
	color: #FFF !important;
}
.techo-lab {
	color: #D5CECE !important;
}

.techo-que {
	color: #1af0dc !important;
	font-family: 'Orbitron', sans-serif !important;
	
}
.text-fot {
	left: 50% !important;
}


/* #footer-container{
	color: #fff;
}
.ieee-footer-img{
	width: 5%;
} */
.footer-img{
	width: 12%;
	padding-bottom: 1rem;
	
	
}
.footer{
	/* background-color:#eeeeee ; */
	text-align: center;
	width: 100%;
	padding-top: 3rem;
	padding-bottom: 2rem;
	overflow-x: hidden;
	background-color: #414141;
}
.f,.t,.i,.y{
	
	padding-right: 1rem;
	padding-left: 1rem;
	color: #fff;
}

.headercp{
	padding-top: 1rem;
}

.s:hover{
	color:skyblue;
}

.i:hover{
	color: purple;
}

.y:hover{
	color: red;
}
.btn-link{
	color: #1af0dc;
}